#createproduct {
  align-content: left;
  border: 3px solid black;
  border-radius: 5px;
  width: 98%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}
#createproduct h2 {
  text-align: left;
}
#createform {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
#goback {
  margin-left: 10px;
}
